<h3> Get Contact Information</h3>
<form action="/contact_info">
    <label for="id">Please enter your ID</label>
    <input id="id" name="GUID" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Get Contact Information</button>
