<h3> Please enter the customer GUID to acess this information</h3>
<form action="/debts">
    <label for="guid">Please enter the GUID</label>
    <input id="guid" name="GUID" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Get indebted accounts</button>
