<form action="/balance">
  <div class="form-group">
    <label for="id">Please enter your ID</label>
    <input id="id" name="GUID" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Check balance</button>
