<h3> Want to check your balance? Click Here <h3>
  <form class="form-inline my-2 my-sm-0" method='get' action='/balance-form'>
    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Check Balance</button>
  </form>

<h3> Want to check your details? Click Here <h3>
  <form class="form-" method='get' action='/details-form'>
    <button class="btn" type="submit">Check Details</button>
  </form>

<h3> Get a list of accounts that are in debt <h3>
  <form class="form-" method='get' action='/debts'>
    <button class="btn" type="submit">Get accounts</button>
  </form>
