<h3> Enter Account name(s)</h3>
<form action="/ID">
    <label for="firstname">Please enter the first name</label>
    <input id="firstname" name="firstname" class="form-control" type="text">
    <br></br>
    <label for="lastname">Please enter the last name</label>
    <input id ="lastname" name="lastname" class="form-control" type="text">
  </div>
  <br></br>
  <button type="submit" class="btn">Get ID</button>
